<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.studentapp.servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewAttendanceServlet</servlet-name>
        <servlet-class>com.studentapp.servlet.ViewAttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAttendanceServlet</servlet-name>
        <url-pattern>/viewAttendance</url-pattern>
    </servlet-mapping>
</web-app>
